@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
  
 body {
    background-color: #faf3fc;
    font-family: 'Quicksand', sans-serif;
 }
  
 main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
 }

  nav img {
     max-height: 70px;
  }
 
 .card-image img {
    max-height: 600px !important;
 }
